@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-body: #1e1e1e;
  --bg-white: #ffffff;
  --bg-black-50: #e6e6e6;
  --bg-black-100: #b0b0b0;
  --bg-black-200: #8a8a8a;
  --bg-black-300: #545454;
  --bg-black-400: #333333;
  --bg-black-500: #000000;
  --bg-black-600: #000000;
  --bg-black-700: #000000;
  --bg-black-800: #000000;
  --bg-black-900: #000000;
  /* Orange */
  --bg-orange-50: #ffefe6;
  --bg-orange-100: #ffcfb0;
  --bg-orange-200: #ffb78a;
  --bg-orange-300: #ff9654;
  --bg-orange-400: #ff8233;
  --bg-orange-500: #ff6300;
  --bg-orange-600: #e85a00;
  --bg-orange-700: #b54600;
  --bg-orange-800: #8c3600;
  --bg-orange-900: #6b2a00;
  --bg-orange: #fd6f00;
  /* font family #FD6F00*/
  --font-family: "Poppins", sans-serif;
  --font-size-21: 1.3rem;
  --font-size-12: 0.6rem;
  --font-size-14: 0.7rem;
  --font-size-18: 1rem;
  --font-size-23: 1.2rem;
  --font-size-28: 1.5rem;
  --font-size-35: 1.9rem;
  --font-size-44: 2.4rem;
  --font-size-55: 3.8rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  /*  */
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-body);
  font-size: var(--font-size-18);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  color: var(--bg-white);
  padding-left: 10%;
  padding-right: 10%;
}
.header {
  width: 100%;
  height: 67px;
  margin-top: 36px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header__nav__toggle {
  display: none;
}
.header__nav__navigation {
  display: flex;
  gap: var(--font-size-23);
  align-items: center;
}
.header__nav__logo-link {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-800);
}
.header__nav__navigation__menu {
  display: flex;
  align-items: center;
  gap: var(--font-size-23);
}
.header__nav__navigation__menu__list-link {
  font-weight: var(--font-weight-400);
}
.header__nav__navigation-btn {
  width: 122px;
  height: 57px;
  border-radius: 5px;
  background-color: var(--bg-orange);
  color: var(--bg-white);
  border: none;
  font-family: var(--font-family);
  cursor: pointer;
}

/* section main__hero */
.main {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
.main__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--font-size-35);
}
.main__hero__left {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-28);
}
.main__hero__left__about {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.main__hero__left-p {
  font-size: var(--font-size-23);
  font-weight: var(--font-weight-600);
}
.main__hero__left__about-span {
  color: var(--bg-orange);
  font-weight: var(--font-weight-600);
}
.main__hero__left__about-titleJob {
  font-size: var(--font-size-55);
  position: relative;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0.03em;
}
.main__hero__left__about__titleJob-span {
  position: absolute;
  top: 70px;
  left: 0;
}
.main__hero__left-btn {
  width: max-content;
  background-color: var(--bg-orange);
  color: var(--bg-white);
  border: none;
  border-radius: 5px;
  font-weight: var(--font-weight-400);
  width: 188px;
  height: 52px;
  cursor: pointer;
}

/* right side */
.main__hero__right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--font-size-35);
}
.main__hero__right__img-img {
  width: 470px;
  height: 470px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--bg-orange-700);
}
.main__hero__right__list {
  display: flex;
  align-items: center;
  gap: var(--font-size-23);
}
.main__hero__right__list-img {
  width: var(--font-size-28);
  height: var(--font-size-28);
}

.main__aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__aboutme__left-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.main__aboutme__right {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-18);
}
.main__aboutme__right__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--font-size-18);
}
.main__aboutme__right-contenu {
  text-align: center;
}
.main__aboutme {
  gap: var(--font-size-28);
}
/* .main__aboutme__right__skills__items {
} */
.main__aboutme__right__skills__items-item {
  margin-bottom: var(--font-size-18);
}
.main__aboutme__right__skills__items-item {
  height: 76px;
}
/* main__aboutme__right__skills__items-item::before */
.main__aboutme__right__skills__items-item__level {
  background-color: var(--bg-orange);
  top: 41px;
  width: 100%;
  height: 10px;
  right: 0;
  z-index: 4;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.main__aboutme__right__skills__items-item__level::after {
  content: "";
  background-color: var(--bg-white);
  top: 0;
  position: absolute;
  width: 5%;
  height: 10px;
  right: 0;
  border-radius: 10px;
}

.main__aboutme__right__skills__items-item__level::before {
  content: "";
  background-color: var(--bg-white);
  top: -3px;
  position: absolute;
  right: 4%;
  height: 14px;
  width: 14px;
  border: solid 2px var(--bg-orange);
  border-radius: 100px;
  z-index: 2;
}
.main__aboutme__right__skills__items-item__levelCss {
  background-color: var(--bg-orange);
  position: relative;
  width: 100%;
  height: 10px;
  right: 0;
  top: 41px;
  z-index: 4;
  border-radius: 10px;
  border-radius: 10px;
}
.main__aboutme__right__skills__items-item__levelCss::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  z-index: 2;
  background-color: var(--bg-white);
  border: 2px solid var(--bg-orange);
  border-radius: 50%;
  top: -3px;
  right: 4%;
}
.main__aboutme__right__skills__items-item__levelCss::after {
  content: "";
  background-color: var(--bg-white);
  top: 0;
  position: absolute;
  width: 5%;
  height: 10px;
  right: 0;
  border-radius: 10px;
}
.main__aboutme__right__skills__items-item__leveljs {
  background-color: var(--bg-orange);
  height: 10px;
  border-radius: 10px;
  top: 41px;
  position: relative;
}
.main__aboutme__right__skills__items-item__leveljs::after {
  content: "";
  background-color: var(--bg-white);
  position: absolute;
  height: 10px;
  width: 15%;
  border-radius: 10px;
  right: 0px;
}
.main__aboutme__right__skills__items-item__leveljs::before {
  content: "";
  background-color: var(--bg-white);
  height: 14px;
  width: 14px;
  border: 2px solid var(--bg-orange);
  border-radius: 50%;
  top: -3px;
  right: 12%;
  position: absolute;
  z-index: 2;
}
/* .main__aboutme__right__skills__items-item::before {
  content: "";
  background-color: var(--bg-orange);
  top: 41px;
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  border-radius: 10px;
} */
